# Ignore unnecessary Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE files
*.suo
*.ntvs*
*.njsproj
*.sln*
*.userprefs
.vscode/
.idea/
*.iml

# Ignore Unity-generated metadata files
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db

# Ignore Rider project files
*.sln.DotSettings*
*.sln.iml
